<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t :Name %><%# t :Name %></th>
      <%=t 'greet_username', user: "Bill", message: "Goodbye" %>
      <p><%=   l Time.now, format: :short %></p>
      <p><%= 'html'.humanize %></p>

      <!--scoped messages-->
      <%# I18n.t :record_invalid, scope: [:activerecord, :errors, :messages] %>
      <%# I18n.translate "activerecord.errors.messages.record_invalid" %>
      <%# I18n.t :record_invalid, scope: 'activerecord.errors.messages' %>

      <%= I18n.t :missing, default: 'Not here' %>
      <%= I18n.t :missing, default: [:also_missing, 'Not here'] %>
      
      <%= I18n.t [:hi, :hello] %>
      <p><%= I18n.t 'activerecord.errors.messages' %></p>
      
      <p><%= I18n.t :msg, count: 2 %></p>
      
      <!-- I18n.t won't work.. use t -->
      <p><%= t '.Name', locale: :es %></p>
      
      <p><%= t :link_html %></p>
      
      <p><%= User.model_name.human %></p>
      <p><%= User.human_attribute_name("login") %></p>
      <p><%= number_to_percentage(20.5) %></p>
      
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
